VITE_API_BASE_URL=http://localhost:3000/v1
VITE_OIDC_ISSUER=http://localhost:8080/realms/ocean-laundry
VITE_OIDC_TOKEN_URL=http://localhost:8080/realms/ocean-laundry/protocol/openid-connect/token
VITE_OIDC_CLIENT_ID=test-cli
VITE_POLL_INTERVAL_MS=10000
